.perfil_container__titulo {
    width: 100%;
    color: var(--ColorFuente_blanco);
    text-align: left;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: var(--Raleway);
}

.perfil_container__titulo h2 {
    font-weight: bold;
    padding-bottom: 1rem;
}

.logos_skills h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.logos_skills ul{
    display: flex;
}

.logos_skills li{
    display: flex;
    justify-content: space-evenly;
}

.logos_Skills__img {
    width: 30%;
    padding-top: 1rem;
}


@media screen and (max-width:768px){ 
    .perfil_container__titulo {
        text-align: center;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) { 
    .perfil_container__titulo {
        width: 70%;
        color: var(--ColorFuente_blanco);
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 0.7rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        font-family: var(--Raleway);
    }
}
